.containerRest {
    border: solid white 1px;
    height: 90%;
    overflow: auto;
}

.menu {
    float:left;
    width:20%;
    text-align:center;
    height: 100%;
  }

.menu a {
    background-color:black;
    border: solid #bf9b30 1px;
    padding-top: 70px;
    margin-top:7px;
    display:block;
    width:100%;
    color:#bf9b30;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    height: 32%;
  }

.menu a.active {
    background-color: #bf9b30;
    color: white;
}

.main {
    float:left;
    border: solid white 1px;
    width:80%;
    padding:0 20px;
    height: 100%;
    text-align: center;
}

.main h2 {
    text-transform: uppercase;
    text-align: center;
}

.details {
    border: solid #bf9b30 3px;
    background-color: black;
    width: 45%;
    font-size: 20px;
    color: #bf9b30;
    padding-top:5px;
    padding-left: 10px;
    margin: 0 auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: left;
}

.detailsSpan {
    color: #bf9b30;
}

input, select {
    font-size: 20px;
    width: 200px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 15px;
    padding: 2px;
    color: black;
    background-color: #eaeaea;
}

.sell {
    text-align: center;
    text-transform: uppercase;
    width: 30%;
    margin-top: 10px;
    height: 40px;
    border: none;
    padding: 5px;
    font-size: 25px;
    color: black;
    background-color: #bf9b30;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sell:hover {
    color: silver;
    font-weight: bold;
}

.footer {
    background-color: black;
    height: 10%;
}

.footer h3 {
    color: #aadb12;
    text-align: center;
}
