.containerRest {
    border: solid white 1px;
    height: 90%;
    overflow: auto;
}

.menu {
    float:left;
    width:20%;
    text-align:center;
    height: 100%;
}

.menu a {
    background-color:black;
    border: solid #bf9b30 1px;
    padding-top: 70px;
    margin-top:7px;
    display:block;
    width:100%;
    color: #bf9b30;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    height: 32%;
}


.menu a.active {
    background-color: #bf9b30;
    color: white;
}

.main {
    float:left;
    border: solid white 1px;
    width:80%;
    padding:0 20px;
    height: 100%;
    text-align: center;
}

.query {
    text-transform: uppercase;
    text-align: center;
    margin-top: 7px;
    margin-bottom: 10px;
    width: 40%;
    border: none;
    padding: 5px;
    font-size: 25px;
    color: black;
    background-color: #bf9b30;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.query:hover {
    color: silver;
    font-weight: bold;
}

.table  {
    margin-left: 20px;
    margin-right: 20px;
    color:  #b5b4bb;
    padding: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-collapse: collapse;
    width: 100%;
}

thead {
    color: black;
    text-transform: uppercase;
    height: 50px;
}

tbody {
    font-size: 20px;
    padding: 15px;
    background-color:  #7a777d;
}

th, tr {
    width: 300px;
}

tr {
    border-left: 0px solid;
    height: 50px;
}

.textData {
    width: 70%;
}

.footer {
    background-color: black;
    height: 10%;
}

.bell {
    position: absolute;
    top: 11%;
    right: 90px;
}

.apprej {
    width:30px;
    height:30px;
}

.notification {
    background-color: black;
    border-radius: 25px;
    margin-right: 15px;
}

.logout {
    position: absolute;
    top: 11%;
    right: 10px;
    background: #bf9b30;
    border: none;
    height: 40px;
    text-transform: uppercase;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.logout:hover {
    color: silver;
    font-weight: bold;
}



td .apprej {
    height: 50px;
    
}
.approve , .reject , .apprej {
    background-color: #7a777d;
    border: none;











